.dark-blue-title {
  color: var(--dark-blue);
}

.content {
  max-width: 1400px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 48px 48px;
  display: flex;
  align-items: center;
  gap: 40px;
}

/* video section styles */

.video {
  width: 600px;
  height: 360px;
  background-color: darkgrey;
}

.video-container {
  background-color: white;
}

/* badges section styles */

.badges-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badges-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.badge-title {
  color: var(--dark-blue);
  text-align: center;
  margin-bottom: 24px;
}

.badges-intro{
  text-align: center;
  margin-bottom: 16px;

}

.badge-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.badge {
  width: 160px;
  height: 160px;
  /* background-color: var(--light-pink); */
  border: 2px solid var(--dark-blue);
  border-radius: 50%;
}

.section-title {
  font-size: 2.5rem;
}

.section-intro {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

.badges-container {
  /* background-color: var(--light-pink); */
  background-color: var(--light-blue);
}

/* questionnaire section styles */

.questionnaire-container {
  background-color: white;
}

.questionnaire-content {
  /* display: flex;
  align-items: center; */
}

.questionnaire-text-content {
  width: 50%;
}

.questionnaire-illustration-container {
  width: 50%;
}

/* companies section styles */

.companies-container {
  background-color: var(--light-pink);
  /* background-color: var(--light-blue); */
}
.companies-content {
  /* display: flex;
  align-items: center; */
}

.companies-text-content {
  width: 50%;
}

.companies-illustration-container {
  display: flex;
  justify-content: center;
  width: 50%;
}
