.dark-blue-title {
  color: var(--dark-blue);
}

.purple {
  color: var(--badge-purple);
}

.green {
  color: var(--badge-green);
}

.red {
  color: var(--badge-red);
}

.blue {
  color: var(--badge-blue);
}

.content {
  max-width: 1400px;
  height: calc(100vh - 80px);
  margin: 0 auto;
  padding: 48px 48px;
  display: flex;
  align-items: center;
  gap: 40px;
}

button {
  margin-top: 48px;
}


/* video section styles */

.video {
  width: 600px;
  height: 360px;
  background-color: darkgrey;
}

.video-container {
  background-color: white;
}

/* badges section styles */

.badges-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badges-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  /* background-color: var(--light-pink); */
  background-color: var(--light-blue);
  /* background-color: white; */
}

.badge-title {
  color: var(--dark-blue);
  text-align: center;
  font-weight: 500;
  margin-bottom: 24px;
  padding-inline: 20px;
}

.badges-intro {
  text-align: center;
  margin-bottom: 16px;
}

.badge-container {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.badge-title-container {
}

.kuli-badge {
  width: 160px;
  height: 160px;
  margin-bottom: 28px;
  /* background-color: var(--light-pink); */
  /* border: 2px solid var(--dark-blue);
  border-radius: 50%; */
}

.section-title {
  font-size: 2.5rem;
}

.section-intro {
  font-family: "Work Sans", sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
}

/* questionnaire section styles */

.questionnaire-container {
  background-color: white;
}

.questionnaire-content {
  /* display: flex;
  align-items: center; */
}

.questionnaire-text-content {
  width: 50%;
}

.questionnaire-illustration-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* companies section styles */

.companies-container {
  background-color: var(--light-pink);
  /* background-color: var(--light-blue); */
}
.companies-content {
  /* display: flex;
  align-items: center; */
}

.companies-text-content {
  width: 50%;
}

.companies-illustration-container {
  display: flex;
  justify-content: center;
  width: 50%;
}

/* footer styles */

.footer-container {
  /* height: 140px; */
  width: 100%;
  height: 100px;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0px 48px;
  color: white;
}

.kuli-logo-light{
  width: 90px;
}